body {
  font-family: Arial, Helvetica, sans-serif;
  background: #A1CDF1;
}

#quiz-box {
  line-height: 1;
  background: #f4f4f4;
  padding: 20px 60px;
  margin: 60px;
  border-radius: 4px;
  -webkit-box-shadow: 0px 0px 5px 3px rgba(0,0,0,0.22);
-moz-box-shadow: 0px 0px 5px 3px rgba(0,0,0,0.22);
box-shadow: 0px 0px 5px 3px rgba(0,0,0,0.22);
}

#quiz-box h1 {
  text-align: center;
  margin-bottom: 30px;
}

.container {
  max-width: fit-content;
  margin: 0 auto;
  position: relative;
}

.quiz {
  font-size: 3rem;
  font-weight: 400;
  line-height: 1.1;
  position: relative;
  margin: 0;
}

.btn {
  width: 12em;
  display: inline-block;
  bottom: 150px;
  border-radius: 4px;
  border: 2px solid #000;
  color: #fff;
  background-color: #000;
  padding: 15px;
  margin: 10px;
  transition: .5s ;
  text-decoration: none;
  font-weight: 600;
  letter-spacing: 1px;
}
.btn:hover {
  background-color: #FFF;
  color: #000;
}

.btn:focus {
  outline: none;
}

/* Message States */
.success {
  background: #C7E7CF;
  padding: 30px;
  border-radius: 4px;
  color: rgba(0, 0, 0, .7);
}

.error {
  background: #F6CBCF;
  padding: 30px;
  border-radius: 4px;
  color: rgba(0, 0, 0, .7);
}

/* Breadcrumbs */
.breadcrumbs {
  font-size: 1.15rem;
  color: rgba(0, 0, 0, .65);
  text-transform: uppercase;
}

/* Score Message */
.score-message {
  font-size: 1.2rem;
}

/* Retake Form Elements */
.retakeAttempt, .retakeForm {
  display: inline-block;
  font-size: 1.1rem;
}

.retakeForm input[type="submit"] {
  bordeR: none;
  background: #f4f4f4;
  color: blue;
  font-weight: bold;
}

/* Media Queries */
@media (max-width: 885px) {
    .btn {
      width: 10em;
      display: inline-block;
      bottom: 150px;
      border-radius: 4px;
      border: 2px solid #000;
      color: #fff;
      background-color: #000;
      padding: 15px;
      margin: 10px;
      transition: .5s;
      text-decoration: none;
  }
} 

@media (max-width: 791px) {
    .btn {
      width: 8em;
  }

  #quiz-box h1 {
    font-size: 1.4rem;
  }
}

@media (max-width: 695px) {
    .btn {
      width: 6em;
  }

  .quiz {
    font-size: 2.5rem;
  }
}

@media (max-width: 600px) {
  .btn {
    display: block;
    width: 100%;
  }

  .breadcrumbs {
    font-size: 1rem;
    font-weight: 500;
    text-transform: uppercase;
  }

  .quiz {
    font-size: 1.9rem;
    font-weight: 400;
    line-height: 1.1;
    position: relative;
    margin: 0;
  }
}
